DATABASE_URL="psql://user:pass@host:port/dbname"

NEXTAUTH_SECRET=supersecretkey
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=DokuTrako

RESEND_API_KEY="apigoeshere"
EMAIL_FROM_DOMAIN="notice.example.com"